.logo {
  margin-right: 20px; /* Logo 自动排在左侧 */
}

#all{
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1)) ;
  width:100%;
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
#header{

  padding:2%;
}
#sidebarLeft{

  padding:200px 0 200px 0 ;
  width: 150px;
  float:left;
}
#sidebarRight{
  padding:200px 0 200px 0 ;
  width: 150px;
  float:right;
}
#content{
  background-color: rgba(64, 72, 99, 0.5);
  margin-left: 150px;
  margin-right: 150px;
  padding:200px 0 400px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(6px);
}

a {
  color:#fff;
  text-decoration:none;
}
a:hover {
  color:#ffb4effd
}

#footer{
  padding: 1%;
}

.goTop {
  position: fixed;
  right: 120px;
  bottom: 10px;
  .goTopBtn {
    background-color: transparent;
    transform: translateX(0);
    transition: transform 0.2s;
    &.hide {
      transform: translateX(120%);
    }
    border: none;
    outline: none;
    cursor: pointer;
    .fi-sr-angle-circle-up {
      color:linear-gradient(to right,  #ff7e5f, #feb47b);
    }
  }
}

html{
  scroll-behavior: smooth;
}

header {
  font-family: "Honk", system-ui;
  font-optical-sizing: none;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    z-index: 1000;
    
}
nav ul {
  list-style-type: none;
  height: 50px;
  margin: -86px;
  padding: 60px;
  display: flex;
  margin-left: auto; /* 将导航项推送到右侧 */
  flex-wrap: nowrap;
}

nav ul li {
  margin-left: 20px; /* 调整导航项之间的间距 */
}

nav ul li:first-child {
  margin-left: 0; /* 第一个导航项无需左边距 */
}


nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #ff00c859;
}

*{
    font-family:Serif forts, sans-serif;
    margin: 0;
    padding: 0;
}

.about-me h1{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-self: center;
  
}






.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1))
}






.box div{
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
  z-index: 2;
}
.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}



/*
nav {
    
    background-color: #44444400;
    text-align: left;
    padding: 100px  10px;
    position: absolute;
    left: 0;
    display: block;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 10px 20px;
    display: block;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.about-me, .portfolio, .contact {
    margin-bottom: 40px;
}





*{
    margin: 0;
    padding: 0;
  }
  html,body{
    display: grid;
    height: 100%;
    place-items: auto;
    background: #31313100;
  }
  .wrapper{
    height: 100px;
    width: 360px;
    
    position: fixed;
    top: 100px;
    right: 20px ;

    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    cursor: default;
    animation: animate 1.5s linear infinite;
  }
  .wrapper .display,
  .wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper .display{
    z-index: 999;
    height: 85px;
    width: 345px;

    background: #ffffff;
    border-radius: 6px;
    text-align: center;
  }
  .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
  }
  @keyframes animate {
    100%{
      filter: hue-rotate(360deg);
    }
  }
  .wrapper span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
  }
  .wrapper span:first-child{
    filter: blur(7px);
  }
  .wrapper span:last-child{
    filter: blur(20px);
  }
  